main {
    background: #F5EEFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0px;
  }
  .title {
      color: #6E92F0;
      font-size: 30px;
      font-weight: 600;
      margin: 60px 0px 15px 0px;
  }
  .title h1 {
      margin-left: 30px;
  }
  .all {
      background-color: #F5EEFF;
      border: 7px solid #D3BEFF;
      border-radius: 15px;
      padding: 40px 40px;
  }
  .row input {
      width: 100%;
      height: 48px;
      border: 2px solid #D3BEFF;
      background-color: #F5EEFF;
      border-radius: 12px;
      padding: 0 10px 0 15px;
      font-size: 16px;
      font-weight: 600;
      color: #D3BEFF;
  }
  form input:focus {
    outline: none;
    background: none;
  }
  ::-webkit-input-placeholder {
    color: #D3BEFF;
    font-weight: 500;
  }
  .change_infos {
      background: #F5EEFF;
      border: 4px solid #D3BEFF;
      border-radius: 10px;
      color: #D3BEFF;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      padding:6px 12px;
      margin-top: 20px;
  }
  .change_infos:hover {
      background: #F5EEFF;
      border: 4px solid #23DC3D;
      color: #23DC3D;
      transition: 0.6s;
  }
  .change_infos:focus {
      outline: none;
  }
  .change_infos:active {
      background: #D3BEFF;
      border: 4px solid #D3BEFF;
      color: #F5EEFF;
  }
  .profil_infos img{
      border: 5px solid #D3BEFF;
      border-radius: 300px;
      width: 100%;
      margin-bottom: 12px;
  }
  .profil_infos .name {
      color: #5d5d5d;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
  }
  .profil_infos .poste {
      color: #B4B4B4;
      font-size: 16px;
      font-weight: 600;
  }
  .cta {
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 3;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #F68B1E;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta a {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   .cta a:hover {
    text-decoration: none;
    
   }
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   .cta:hover:before {
    width: 100%;
    background: #F68B1E;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
   .btn-group {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 15px;
      border-radius: 15px;
      overflow: hidden;
      border: 3px solid #D3BEFF;
      margin-bottom: 20px;
    }
    
    .btn-group label {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .btn-group input[type="radio"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
    
    .btn-group label.btn-outline-success {
      color: #B08BFF;
      background-color: transparent;
      padding: 8px 15px;
      font-size: 18px;
    }
    
    .btn-group label.btn-outline-success:hover
    .btn-group label.btn-outline-success:focus {
      color: #fff;
      background-color: #B08BFF;
      border-color: #B08BFF;
    }
    
    .btn-group input[type="radio"]:checked + label.btn-outline-success {
      color: #fff;
      background-color: #B08BFF;
      border-color: #B08BFF;
    }