main {
    background: #F5EEFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0px;
}
.profil {
    background: #F5EEFF;
    border: 6px solid #D3BEFF;
    border-radius: 15px;
    padding: 20px 0px 40px 0px;
    margin: 10px;
}
.profil .logout {
    position: absolute;
    top: 12px;
    right: 12px;
}
.profil .logout ion-icon {
    color: #ff0000;
    font-size: 35px;
}
.profil img {
    width: 100%;
    border: 5px solid #D3BEFF;
    border-radius: 300px;
}
.profil .name {
    color: #5d5d5d;
    font-size: 23px;
    font-weight: 600;
    margin-top: 15px;
}
.profil .poste {
    color: #B4B4B4;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}
.profil .entreprise {
    color: #B4B4B4;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.btns {
    margin-top: 20px;
}
.btns a button {
    background: #F5EEFF;
    border: 4px solid #D3BEFF;
    border-radius: 10px;
    color: #D3BEFF;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding:6px 12px;
}
.btns .fidelite {
    margin-left: 10px;
}

.infos {
    background: #F5EEFF;
    border: 6px solid #D3BEFF;
    border-radius: 15px;
    padding: 40px 40px;
    margin: 10px;
}
.infos hr {
    border: 1px solid #D3BEFF;
    margin: 25px 0px;
}
.infos p {
    color: #5d5d5d;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    margin-left: 10px;
}
.infos .output {
    color: #B08BFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    /* margin-left: 40px; */
}
.profil, .infos {
    height: 400px;
}
.all {
    padding-top: 100px;
}

.cta {
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 3;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #F68B1E;
    width: 60px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta a {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567; 
   }
   .cta a ion-icon {
    font-size: 17px;
    margin-right: 7px;
   }
   .cta a:hover {
    text-decoration: none;
    
   }
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   .cta:hover:before {
    width: 100%;
    background: #F68B1E;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
   .history {
    margin-left: 10px;
   }
   .history .all_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 10px;
}
.history h1 {
    font-weight: 600;
    font-size: 30px;
    color: #6E92F0;
    margin-top: 20px;
    margin-bottom: 7px;
}
.history hr {
    border: 2px solid #6E92F0;
    margin: 0px 0px 20px 0px;
    width: 470px;
}
.history .card {
    position: relative;
    background: #F5EEFF;
    border: 6px solid #D3BEFF;
    border-radius: 15px;
    padding: 20px;
    width: 33%;
    margin-top: 10px;
}
.history .card .title_game{
    font-size: 22px;
    color: #4D4D4D;

    margin: 0;
    margin-bottom: 8px;
}
.history .card h3{
    color: #6E92F0;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 0px 0px 3px 10px; 
}
.history .card p {
    margin: 0;
    color: #CCCCCC;
    margin-left: 5px;
}
.card ion-icon  {
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2.5px solid #6E92F0;
    color: #6E92F0;
    border-radius: 5px;
}
.card ion-icon:hover {
   background-color: #6E92F0;
    color: #fff;
    cursor: pointer;
}
h3 .role {
    color: #6E92F0;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 0px 0px 3px 10px; 
}